{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
		{% for gericht in randomgerichte %}
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2>
									<span>{{ gericht.name }}</span>
									{{ gericht.kategorie }}</h2>
								<p>{{ gericht.beschreibung }} - {{ '%.2f'|format(gericht.preis) }}€</p>
								<a href="{{ path('app_menu') }}" class="site-btn">Menukarte</a>
								<a href="{{ path('app_order.create', { id: gericht.id }) }}" class="site-btn sb-c2">Bestellen</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{ asset('img/recipes/' ~ gericht.picture) }}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</section>
	<!-- Hero section end -->


{% endblock %}
