{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<br>
		<h2>Mitarbeiter</h2>
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th class="w-100">Name</th>
					<th>Leiter</th>
					<th>Admin</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td class="w-100">{{ user.username }}</td>
						<td>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('app_staff.toggle_role', {id: user.id, role: 'ROLE_MANAGER'}) }}">
								{% endif %}
								{% if 'ROLE_MANAGER' in user.roles %}
									<span class="badge badge-success">Ja</span>
								{% else %}
									<span class="badge badge-danger">Nein</span>
								{% endif %}
								{% if is_granted('ROLE_ADMIN') %}
								</a>
							{% endif %}
						</td>
						<td>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('app_staff.toggle_role', {id: user.id, role: 'ROLE_ADMIN'}) }}">
								{% endif %}
								{% if 'ROLE_ADMIN' in user.roles %}
									<span class="badge badge-success">Ja</span>
								{% else %}
									<span class="badge badge-danger">Nein</span>
								{% endif %}
								{% if is_granted('ROLE_ADMIN') %}
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="d-flex justify-content-end">
				<a href="{{ path('app_register') }}" class="btn btn-primary">Neuen Mitarbeiter registrieren</a>
			</div>
		{% endif %}
	</div>

{% endblock %}
