<!DOCTYPE html>
<html lang="zxx">
	<head>
		<title>Menukarte | Dein Restaurant</title>
		<meta charset="UTF-8">
		<meta name="description" content="Menukarte | Dein Restaurant">
		<meta name="keywords" content="food, html">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link href="{{ asset('img/favicon.png')}}" rel="shortcut icon"/>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ asset('css/font.css')}}"/>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"/>
		<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}"/>
		<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}"/>
		<link rel="stylesheet" href="{{ asset('css/slicknav.min.css')}}"/>

		<!-- Main Stylesheets -->
		<link rel="stylesheet" href="{{ asset('css/style.css')}}"/>

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="d-flex flex-column min-vh-100">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Header section -->
		<header class="header-section clearfix">
			<div class="site-logo">
				<a href="{{path('app_home')}}">
					<img src="{{asset('img/logo.png')}}" alt="" class="mb-2">
				</a>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<div class="dropdown show">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ current_place.getPlaceName() }}
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							{% for place in current_place.getAllPlaces() %}
								<a class="dropdown-item" href="{{ path('app_place.setcurrentplace', {'id': place.id}) }}">{{ place.name }}</a>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<div class="text-white p-2 bg-success rounded">
					<h3>{{ current_place.getPlaceName() }}</h3>
					</div>
				{% endif %}
			</div>
			<ul class="main-menu">
				<li>
					<a href="{{ path('app_home')}}">Willkommen</a>
				</li>
				<li>
					<a href="{{ path('app_menu')}}">Menukarte</a>
				</li>
				<li>
					<a href="{{ path('app_order.list')}}">Bestellungen</a>
				</li>
				<li>
					<a href="{{ path('app_mail')}}">Kellner</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li>
						<a href="#">Interner Bereich</a>
						<ul class="sub-menu">
							<li>
								<a href="{{ path('app_staff.list') }}">Mitarbeiter</a>
							</li>
							<li>
								<a href="{{ path('app_place.list') }}">Tische</a>
							</li>
							<li>
								<a href="{{ path('app_gericht.list') }}">Gerichte</a>
							</li>
							<li>
								<a href="{{ path('app_gericht.create') }}">Gericht anlegen</a>
							</li>
						</ul>
					</li>
				{% endif %}
				{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<li>
					<a href="{{ path('app_login') }}" class="text-success">Login</a>
				</li>
				{% endif %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li>
					<a href="{{ path('app_logout') }}" class="text-danger">Ausloggen</a>
				</li>
				{% endif %}

			</ul>
		</header>
		<!-- Header section end -->

		<div class="flex-grow-1">
		{% for message in app.flashes('success') %}
			<div class="mt-2 container alert alert-success">
				<h3>{{ message }}</h3>
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="mt-2 container alert alert-danger">
				<h3>{{ message }}</h3>
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
		</div>

		<section class="intro-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="section-title">
							<h2>All you can eat für 19,95 €</h2>
						</div>
					</div>
					<div class="col-lg-6">
						<p>Das Restaurant bietet für 19,95 € pro Person folgendes Konzept an: Zunächst könnt ihr aus vielen verschiedenen Salatvariationen, kalten und warmen Vorspeisen am Vorspeisenbuffet frei wählen. Anschließend serviert das Personal mehr als zehn verschiedene Fleischvariationen, solange ihr möchtet. Als Abschluss wartet dann das Dessertbuffet mit frischen und hausgemachten Leckereien auf euch.</p>
						<a href="{{path('app_menu')}}" class="site-btn">Try it now</a>
					</div>
				</div>
			</div>
		</section>


		<!-- Footer section -->
		<footer class="footer-section">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 order-lg-2">
						<div class="row">
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Über uns</h2>
									<ul>
										<li><a href="{{ path('app_home')}}">Willkommen</a></li>
										<li><a href="{{ path('app_menu')}}">Menükarte</a></li>
										<li><a href="{{ path('app_order.list')}}">Bestellungen</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Menükarte</h2>
									<ul>
										<li><a href="{{ path('app_menu' , { katid: 1 })}}">Getränke</a></li>
										<li><a href="{{ path('app_menu' , { katid: 2 })}}">Vorspeisen</a></li>
										<li><a href="{{ path('app_menu' , { katid: 3 })}}">Hauptspeisen</a></li>
										<li><a href="{{ path('app_menu' , { katid: 4 })}}">Nachspeisen</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Kontakt</h2>
									<ul>
										<li><a href="{{ path('app_contact')}}">Kontakt</a></li>
										<li><a href="{{ path('app_imprint')}}">Impressum</a></li>
										<li><a href="{{ path('app_privacy')}}">Datenschutz</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="{{asset('img/logo.png')}}" alt="">
						<div
							class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							 <script>document.write(new Date().getFullYear());</script>
							All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i>
							by
							<a href="https://colorlib.com" target="_blank">Colorlib</a>
							Downloaded from
							<a href="https://themeslab.org/" target="_blank">Themeslab</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
		 <script src="{{ asset('js/popper.min.js')}}"></script>
		 <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
		 <script src="{{ asset('js/bootstrap.min.js')}}"></script>
		 <script src="{{ asset('js/jquery.slicknav.min.js')}}"></script>
		 <script src="{{ asset('js/owl.carousel.min.js')}}"></script>
		 <script src="{{ asset('js/mixitup.min.js')}}"></script>
		 <script src="{{ asset('js/main.js')}}"></script>
	</body>
</html></body></html>
