{% extends 'base.html.twig' %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="mt-2 container alert alert-success">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="mt-2 container alert alert-danger">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}

	{% set pricesum = 0 %}

	<div class="container">
		<br>
		<h2 class="text-center">Bestellung von
			{{ place }}</h2>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Best.Nr.</th>
					<th scope="col">Name</th>
					<th scope="col">Preis</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				{% for order in ordersFromPlace %}
					{% set pricesum = pricesum + order.price %}
					<tr>
						<td>{{ order.id }}</td>
						<td>{{ order.name }}</td>
						<td>{{ order.price }}€</td>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<td>
								<div class="dropdown show">
									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{{ order.status }}
									</a>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="{{ path('app_order.change_status', {id: order.id, newstatus: 'offen'}) }}">{{ 'offen' }}</a>
										<a class="dropdown-item" href="{{ path('app_order.change_status', {id: order.id, newstatus: 'fertig'}) }}">{{ 'fertig' }}</a>
										<a class="dropdown-item" href="{{ path('app_order.change_status', {id: order.id, newstatus: 'archiv'}) }}">{{ 'archiv' }}</a>
									</div>
								</div>
							</td>
						{% else %}
							<td>{{ order.status }}</td>
						{% endif %}
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>Summe gesamt</td>
					<td>{{ pricesum }}
						€</td>
					<td></td>
				</tr>
			</tbody>

		</table>
	</div>

{% endblock %}
