{% extends 'base.html.twig' %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="container alert alert-success">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="container alert alert-danger">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}

	<br>
	<div class="container">
		<h1>Liste der Gerichte</h1>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width:150px;">Bestellnummer</th>
					<th>Name</th>
					<th>Beschreibung</th>
					<th>Preis</th>
					<th style="width:100px;"></th>
					<th style="width:100px;"></th>
				</tr>
			</thead>
			{%for gericht in gerichte %}
				<tr>
					<td>{{ gericht.id }}
					{% if gericht.picture %}
						<img style="padding-left:10px;width:100px;" src="{{ asset('img/recipes/' ~ gericht.picture) }}">
					{% endif %}
					</td>
					<td>{{ gericht.name }}</td>
					<td>{{ gericht.beschreibung }}</td>
					<td>{{ gericht.preis }}</td>
					<td>
						<a href="{{ path('app_gericht.edit',{ id: gericht.id}) }}" class="btn btn-sm btn-primary">Editieren</a>
					</td>
					<td>
						<a href="{{ path('app_gericht.delete',{ id: gericht.id}) }}" class="btn btn-sm btn-danger">Löschen</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<a href="{{ path('app_gericht.create') }}" class="btn btn-primary">Gericht hinzufügen</a>
	</div>
{% endblock %}
